<p id="notice"><%= notice %></p>

<p>
  <b>Treatment:</b>
  <%= @treatment.treatment %>
</p>

<p>
  <b>National code:</b>
  <%= @treatment.national_code %>
</p>

<p>
  <b>Introduction:</b>
  <%= @treatment.introduction %>
</p>

<p>
  <b>De:</b>
  <%= @treatment.de %>
</p>

<p>
  <b>Co:</b>
  <%= @treatment.co %>
</p>

<p>
  <b>Ce:</b>
  <%= @treatment.ce %>
</p>

<p>
  <b>No:</b>
  <%= @treatment.no %>
</p>

<p>
  <b>Otro:</b>
  <%= @treatment.otro %>
</p>

<p>
  <b>Start date:</b>
  <%= @treatment.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @treatment.end_date %>
</p>

<p>
  <b>Num pills:</b>
  <%= @treatment.num_pills %>
</p>

<p>
  <b>Prescriptions:</b>
  <%= @treatment.prescriptions %>
</p>

<p>
  <b>Current treatment:</b>
  <%= @treatment.current_treatment %>
</p>

<p>
  <b>Modify:</b>
  <%= @treatment.modify %>
</p>

<p>
  <b>Med treat order:</b>
  <%= @treatment.med_treat_order %>
</p>

<p>
  <b>Target:</b>
  <%= @treatment.target %>
</p>

<p>
  <b>Prize:</b>
  <%= @treatment.prize %>
</p>


<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
