<h1>Listing hospital_derivations</h1>

<table>
  <tr>
    <th>Derivation date</th>
    <th>Derivation cause</th>
    <th>Derivation hospital</th>
    <th>Derivation print</th>
    <th>Discharge date</th>
    <th>Discharge diagnosis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hospital_derivations.each do |hospital_derivation| %>
  <tr>
    <td><%= hospital_derivation.derivation_date %></td>
    <td><%= hospital_derivation.derivation_cause %></td>
    <td><%= hospital_derivation.derivation_hospital %></td>
    <td><%= hospital_derivation.derivation_print %></td>
    <td><%= hospital_derivation.discharge_date %></td>
    <td><%= hospital_derivation.discharge_diagnosis %></td>
    <td><%= link_to 'Show', hospital_derivation %></td>
    <td><%= link_to 'Edit', edit_hospital_derivation_path(hospital_derivation) %></td>
    <td><%= link_to 'Destroy', hospital_derivation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hospital derivation', new_hospital_derivation_path %>
