<h1>Listing diagnoses</h1>

<table>
  <tr>
    <th>Diagnosis</th>
    <th>Diagnosis date</th>
    <th>Cie 10</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diagnoses.each do |diagnosis| %>
  <tr>
    <% if diagnosis.patient_id == @patient.id %>
      <td><%= diagnosis.diagnosis %></td>
      <td><%= diagnosis.diagnosis_date %></td>
      <td><%= diagnosis.cie_10 %></td>
      <td><%= link_to 'Show', patient_diagnosis_path(@patient.id,diagnosis.id) %></td>
      <td><%= link_to 'Edit', edit_patient_diagnosis_path(@patient.id,diagnosis.id) %></td>
      <td><%= link_to 'Destroy', diagnosis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Diagnosis', new_patient_diagnosis_path %>
<br />
<%= link_to 'Back', patients_path %>