<%= form_for(@medical_record) do |f| %>
  <% if @medical_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

      <ul>
      <% @medical_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :allergies %><br />
    <%= f.text_field :allergies %>
  </div>
  <div class="field">
    <%= f.label :decreasings %><br />
    <%= f.text_field :decreasings %>
  </div>
  <div class="field">
    <%= f.label :diet %><br />
    <%= f.text_field :diet %>
  </div>
  <div class="field">
    <%= f.label :incontinence %><br />
    <%= f.text_field :incontinence %>
  </div>
  <div class="field">
    <%= f.label :objective %><br />
    <%= f.text_field :objective %>
  </div>
  <div class="field">
    <%= f.label :admission_date %><br />
    <%= f.date_select :admission_date %>
  </div>
  <div class="field">
    <%= f.label :exit_date %><br />
    <%= f.date_select :exit_date %>
  </div>
  <div class="field">
    <%= f.label :exit_report %><br />
    <%= f.text_area :exit_report %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
