<h1>Listing falls</h1>

<table>
  <tr>
    <th>Fall date</th>
    <th>Fall</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @falls.each do |fall| %>
  <tr>
    <% if fall.patient_id == @patient.id %>
      <td><%= fall.fall_date %></td>
      <td><%= fall.fall %></td>
      <td><%= link_to 'Show', patient_fall_path(@patient.id,fall.id) %></td>
      <td><%= link_to 'Edit', edit_patient_fall_path(@patient.id,fall.id) %></td>
      <td><%= link_to 'Destroy', fall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fall', new_patient_fall_path %>
<br />
<%= link_to 'Back', patients_path %>