<p id="notice"><%= notice %></p>

<p>
  <b>Fall date:</b>
  <%= @fall.fall_date %>
</p>

<p>
  <b>Fall:</b>
  <%= @fall.fall %>
</p>

<%= link_to 'Edit', edit_patient_fall_path(@patient,@fall) %>
<%= link_to 'Back', patient_falls_path %>

