<p id="notice"><%= notice %></p>

<p>
  <b>Fall date:</b>
  <%= @fall.fall_date %>
</p>

<p>
  <b>Fall:</b>
  <%= @fall.fall %>
</p>


<%= link_to 'Edit', edit_fall_path(@fall) %> |
<%= link_to 'Back', falls_path %>
