<p id="notice"><%= notice %></p>

<p>
  <b>Vaccine:</b>
  <%= @vaccine.vaccine %>
</p>

<p>
  <b>Vaccine date:</b>
  <%= @vaccine.vaccine_date %>
</p>

<p>
  <b>Vaccine observation:</b>
  <%= @vaccine.vaccine_observation %>
</p>


<%= link_to 'Edit', edit_vaccine_path(@vaccine) %> |
<%= link_to 'Back', vaccines_path %>
