<h1>Patients Maintenance</h1>

<div class="container">
    <div class="span12">
        <p>You can acces any Patient's Related Table you want !!!</p>
        <br/>
    </div>
    <%= link_to 'patients', patients_path %>
    <br/>
    <%= link_to 'families', families_path %>
    <br/>
    <%= link_to 'exitus', exitus_path %>
    <br/>
    <%= link_to 'medical_records', medical_records_path %>
    <br/>
    <%= link_to 'galeries', galeries_path %>
    <br/>
    <%= link_to 'containments', containments_path %>
    <br/>
    <%= link_to 'diagnoses', diagnoses_path %>
    <br/>
    <%= link_to 'vaccines', vaccines_path %>
    <br/>
    <%= link_to 'ulcers', ulcers_path %>
    <br/>
    <%= link_to 'falls', falls_path %>
    <br/>
    <%= link_to 'clinical_courses', clinical_courses_path %>
    <br/>
    <%= link_to 'hospital_derivations', hospital_derivations_path %>
    <br/>
    <%= link_to 'treatments', treatments_path %>
    <br/>
    <%= link_to 'cell_blood_count_tests', cell_blood_count_tests_path %>
    <br/>
    <%= link_to 'biochemistry_tests', biochemistry_tests_path %>
    
</div><!--/row-->

<br />
