<p id="notice"><%= notice %></p>

<p>
  <b>Extraction date:</b>
  <%= @cell_blood_count_test.extraction_date %>
</p>

<p>
  <b>Red blood cells:</b>
  <%= @cell_blood_count_test.red_blood_cells %>
</p>

<p>
  <b>Hemoglobin:</b>
  <%= @cell_blood_count_test.hemoglobin %>
</p>

<p>
  <b>Hematocrit:</b>
  <%= @cell_blood_count_test.hematocrit %>
</p>

<p>
  <b>Vcm:</b>
  <%= @cell_blood_count_test.vcm %>
</p>

<p>
  <b>Hcm:</b>
  <%= @cell_blood_count_test.hcm %>
</p>

<p>
  <b>Chcm:</b>
  <%= @cell_blood_count_test.chcm %>
</p>

<p>
  <b>Platelet:</b>
  <%= @cell_blood_count_test.platelet %>
</p>

<p>
  <b>Leukocyte:</b>
  <%= @cell_blood_count_test.leukocyte %>
</p>

<p>
  <b>Neutrophils:</b>
  <%= @cell_blood_count_test.neutrophils %>
</p>

<p>
  <b>Cluster differentiation:</b>
  <%= @cell_blood_count_test.cluster_differentiation %>
</p>

<p>
  <b>Monocyte:</b>
  <%= @cell_blood_count_test.monocyte %>
</p>

<p>
  <b>Eosinophil:</b>
  <%= @cell_blood_count_test.eosinophil %>
</p>

<p>
  <b>Basophil:</b>
  <%= @cell_blood_count_test.basophil %>
</p>


<%= link_to 'Edit', edit_cell_blood_count_test_path(@cell_blood_count_test) %> |
<%= link_to 'Back', cell_blood_count_tests_path %>
