<p id="notice"><%= notice %></p>

<p>
  <b>Extraction date:</b>
  <%= @biochemistry_test.extraction_date %>
</p>

<p>
  <b>Glucemy:</b>
  <%= @biochemistry_test.glucemy %>
</p>

<p>
  <b>Hba1c:</b>
  <%= @biochemistry_test.hba1c %>
</p>

<p>
  <b>Urea:</b>
  <%= @biochemistry_test.urea %>
</p>

<p>
  <b>Creatinine:</b>
  <%= @biochemistry_test.creatinine %>
</p>

<p>
  <b>Uric acid:</b>
  <%= @biochemistry_test.uric_acid %>
</p>

<p>
  <b>Cholesterol:</b>
  <%= @biochemistry_test.cholesterol %>
</p>

<p>
  <b>Chdl:</b>
  <%= @biochemistry_test.cHDL %>
</p>

<p>
  <b>Cldl:</b>
  <%= @biochemistry_test.cLDL %>
</p>

<p>
  <b>Triglycerides:</b>
  <%= @biochemistry_test.triglycerides %>
</p>

<p>
  <b>Ast:</b>
  <%= @biochemistry_test.ast %>
</p>

<p>
  <b>Alt:</b>
  <%= @biochemistry_test.alt %>
</p>

<p>
  <b>Iron:</b>
  <%= @biochemistry_test.iron %>
</p>

<p>
  <b>Ferritin:</b>
  <%= @biochemistry_test.ferritin %>
</p>

<p>
  <b>Sodium:</b>
  <%= @biochemistry_test.sodium %>
</p>

<p>
  <b>Potassium:</b>
  <%= @biochemistry_test.potassium %>
</p>

<p>
  <b>Vsg:</b>
  <%= @biochemistry_test.vsg %>
</p>

<p>
  <b>Cobalamins vitb12:</b>
  <%= @biochemistry_test.cobalamins_vitb12 %>
</p>

<p>
  <b>Ac folico:</b>
  <%= @biochemistry_test.ac_folico %>
</p>

<p>
  <b>Tsh:</b>
  <%= @biochemistry_test.tsh %>
</p>

<p>
  <b>Ft3:</b>
  <%= @biochemistry_test.ft3 %>
</p>

<p>
  <b>Ft4:</b>
  <%= @biochemistry_test.ft4 %>
</p>


<%= link_to 'Edit', edit_biochemistry_test_path(@biochemistry_test) %> |
<%= link_to 'Back', biochemistry_tests_path %>
